@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');


:root {
    --black: #2f2e41;
    --text-color: #2F2E41;
    --accent-color: #00BFA6;
    --light-accent-color: #03ceb344;
    --bg-color: #fff;
    --card-bg-light: #e8ecf574;
    --box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); 
    --card-border-radius: 1rem;
    --card-padding: 0.8rem;
}


/* div {
    border: 1px solid #000;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

span {
    color: var(--accent-color);
}

.profile-photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    height: 100vh;
}

/* ========================================================= */

/* =========================SIDEBAR======================== */

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 1rem;
    border-right: 1px solid var(--card-bg-light);
}

.sidebar .top {
    display: flex;
    align-items: center;
}

.sidebar .top .close{
    font-size: larger;
    margin: auto;
    display: none;
}

.sidebar .dashboard-items {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -3rem;
    gap: 1rem;
}

.sidebar .dashboard-items a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    transition: all 500ms ease;
    margin-inline: 12px;    
    padding-left: 1rem;
    border-radius: 8px;
}

.sidebar .dashboard-items a.active {
    color: var(--text-color);
    background: var(--light-accent-color);
}

.sidebar .dashboard-items a:hover {
    margin-left: 1.8rem;
    color: var(--accent-color);
}

.sidebar .dashboard-items a i {
    font-size: 1.2rem;
}

.sidebar .dashboard-items a h4 {
    font-weight: 500;
    font-size: 16px;
}

.sidebar .logout {
    margin-block: 2rem;
}

.sidebar .logout a {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
}

.sidebar .logout a i {
    font-size: 1.2rem;
}

/* ========================================================= */

/* ===========================MAIN========================== */

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    
}

.main .cards-section {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#card1{
    background-color: #cdd1ffda;
}
#card2 {
    background-color: #e1e7e9a7;
}
#card3 {
    background-color: #f4d2ddcd;
}

.main .cards-section .card {
    flex: 1;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    user-select: none;
    transition: all 400ms ease;
}

.main .cards-section .card:hover {
    box-shadow: var(--box-shadow);
}

.main .cards-section .card i {
    font-size: 2rem;
    margin-block: 0.8rem;
}

.main .cards-section .card h1 {
    font-size: 24px;
}

.main .request-viewLoan {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.main .request-viewLoan .request-loan {
    width: 50%;
    background: var(--card-bg-light);
    border-radius: var(--card-border-radius);
    /* padding: var(--card-padding); */
    box-shadow: var(--box-shadow);
    padding-inline: 10px;
    transition: all 0.5s ease;
}

.main .request-viewLoan .request-loan:hover {
    box-shadow: none;
}

.main .request-viewLoan .view-eligibility {
    display: flex;
    align-items: center;
    width: 50%;
    background: var(--card-bg-light);
    border-radius: var(--card-border-radius);
    padding: 10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.5s ease;
}

.main .request-viewLoan .view-eligibility:hover {
    box-shadow: none;
}

.view-eligibility i{
    font-size: 1.5rem;
    margin: 12px;
    cursor: pointer;
}

.request-loan {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.request-loan i {
    font-size: 1.5rem;
    margin: 12px;
    cursor: pointer;
}

.main .recent-members{
    max-width: 100%;
    height: 50%;
}

.main .recent-members table {
    width: 100%;
    padding: var(--card-padding);
    background: #e1e7e971;
    border-radius: var(--card-border-radius);
    text-align: center;
    margin-inline: auto;
    margin-block: 1rem;
    box-shadow: var(--box-shadow);
}

.recent-members table tbody td{
    height: 1.3rem;
    border-bottom: 1px solid #2d2f3035;
}

.recent-members table tbody tr:last-child {
    border: none;
}

.recent-members a {
    display: block;
    text-align: center;
    font-size: 14px;
}


/* ====================================================== */

/* ====================PROFILE SECTION=================== */

.profile-section {
    flex: 1.1;
}

.profile-section .top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.profile-section .profile  {

    margin: 1rem auto;
    border: none;
}



/* ====================================================== */
/* ========================================================= */